/* Styling */
* {
  box-sizing: border-box;
}

body {
  margin: 20px 0px;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Inter', sans-serif;
}

h1,
h2,
h3 {
  text-align: center;
}

.homepage {
  text-align: center;
}

.homepage-Description {
  text-align: left;
}

.names-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.contactInformation-button-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.education-card-container {
  margin-top: 20px;
}

.education-button-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.educationSection-button-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.qualifications-button-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.qualifications-list {
  width: 50%;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2rem;
  font-family: 'Inter', sans-serif;
}

.skills-button-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.skills-list {
  width: 50%;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2rem;
  font-family: 'Inter', sans-serif;
}

.work-experience-card-container {
  margin-top: 20px;
}
.work-experience-button-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.work-experienceSection-button-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.awards-button-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.awards-list {
  width: 50%;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2rem;
  font-family: 'Inter', sans-serif;
}

.contactinfo-preview {
  text-align: center;
}

.education-preview-program-container {
  display: flex;
  justify-content: space-between;
}
